body{
  height: max-content;
}

img{
  width:570px;
  height: 400px;
}

h1{
  text-align: center;
}
.images{
  display: grid;
  grid-template-columns: repeat(2,600px);
  grid-template-rows: repeat(2,430px);
  margin: 3%;
  align-items: center;
}


